@extends ('layouts.visitor') <!--Call of template welcome-->
@section('content')  <!--Sectino to show content to yield -->
<!-- banner principal -->
<div class="banner-box-img2">
<div class="banner-escuro-img">
    <div class="container">
           <div class="row">
               <div class="col-8">
               <h1 class="header-title padding-top">
            Transporte seguro? É SLA. 
            </h1>
            <p class="padding-text">
            Quer viajar em segurança? confie sua viagem na maior Transportadora de bens e pessoas do país, somos a SLA - sua Agência de Turismo nacional.
            </p>
               </div>
           </div>
    </div>
</div>
</div>
<!-- end banner --> 
<!-- inputs search --> 
<div class="container">
<div class="xpi__content__wrapper xpi__content__wrappergray xpi__content_hero_banner">
<div class="hero-banner-searchbox">
<div class="
sb-searchbox__outer
" data-sb-outer="">
<form id="frm" method="get" role="search" class="sb-searchbox sb-searchbox--painted sb-searchbox--xp js--sb-searchbox" data-component="search/searchbox/searchbox-xp" data-sb-id="main" data-sb-flags=" AEJPAcBacPONDcFGHT:0 calendar_on_destination_change:1 open_location_in_map_checkbox:1 with_popular_nearby_suggestions:1 can_show_sb_entire_place_checkbox:1 icon_revamp:1 region_second_line:1" data-is-first-visible="1">
<input type="hidden" name="label" value="gen173nr-1FCAEoggI46AdIM1gEaAmIAQGYAS24ARnIAQzYAQHoAQH4AQuIAgGoAgO4ArbIu5MGwAIB0gIkMzllZjkxMzQtNzVhNy00ZTEzLTk0ZDQtZjdmYjJjODEyZTU02AIG4AIB">
<input type="hidden" name="sid" value="a95e71a0cdfe366101bbf14d78c437e0">
<input type="hidden" name="sb" value="1">
<input type="hidden" name="sb_lp" value="1">
<input type="hidden" name="src" value="index">
<input type="hidden" name="src_elem" value="sb">
<input type="hidden" name="error_url" value="https://www.booking.com/index.pt-br.html?label=gen173nr-1FCAEoggI46AdIM1gEaAmIAQGYAS24ARnIAQzYAQHoAQH4AQuIAgGoAgO4ArbIu5MGwAIB0gIkMzllZjkxMzQtNzVhNy00ZTEzLTk0ZDQtZjdmYjJjODEyZTU02AIG4AIB;sid=a95e71a0cdfe366101bbf14d78c437e0;sb_price_type=total&amp;;">

<div class="xp__fieldset js--sb-fieldset accommodation " data-view="accommodation">
<div data-visible="accommodation,flights,rentalcars" class="xp__input-group xp__search" data-destination-input="">
<div data-component="search/destination/input" data-sb-id="main" data-gpf="1" data-required="1" data-flags="" data-open-focus="" data-minlength="1" data-focus-on-typing="1">
<div class="c-autocomplete sb-destination -with-clear region_second_line">
<button data-clear="" type="button" class="sb-destination__clear">
<svg aria-hidden="true" class="bk-icon -streamline-close sb-destination__clear-icon" fill="#333333" focusable="false" height="20" role="presentation" width="20" viewBox="0 0 24 24"><path d="M13.31 12l6.89-6.89a.93.93 0 1 0-1.31-1.31L12 10.69 5.11 3.8A.93.93 0 0 0 3.8 5.11L10.69 12 3.8 18.89a.93.93 0 0 0 1.31 1.31L12 13.31l6.89 6.89a.93.93 0 1 0 1.31-1.31z"></path></svg>
</button>
<div class="row mr-1">
  <div class="col-6 pr-1">
  <input type="search" name="origem" id="ss" class="c-autocomplete__input sb-searchbox__input sb-destination__input w-100" placeholder="Selecione Origem" value="" autocomplete="off" data-component="search/destination/input-placeholder" data-sb-id="main" data-input="" aria-autocomplete="both" aria-label="Por favor, insira sua origem" onclick="$('#list_destino').css('display','none');$('#list_origem').css('display','block');">
  <!-- bloco de origem --> 
  <ul id="list_origem" data-list="" class="c-autocomplete__list sb-autocomplete__list sb-autocomplete__list-with_photos -visible" role="listbox" aria-label="Lista de destinos sugeridos" style="display:none;" data-keyboard="false">
            <li class="c-autocomplete__item sb-autocomplete__item sb-popular-nearby-title">
                <div class="sb-autocomplete__section-title-wrapper">
                    <div class="sb-autocomplete__section-title">
                        <span>Origem procurados na região</span>
                    </div>
                </div>
            </li>
        <li class="c-autocomplete__item sb-autocomplete__item sb-autocomplete__item-with_photo sb-autocomplete__item__item--elipsis sb-autocomplete__item--icon_revamp sb-autocomplete__item--city sb-autocomplete__item--with-title " role="option" data-list-item="" data-i="0" data-value="" data-label="Luanda"><span class="sb-autocomplete--photo"><svg fill="#6B6B6B" height="24" width="24" viewBox="0 0 24 24" class="bk-icon -streamline-geo_pin"><path d="M15 8.25a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm1.5 0a4.5 4.5 0 1 0-9 0 4.5 4.5 0 0 0 9 0zM12 1.5a6.75 6.75 0 0 1 6.75 6.75c0 2.537-3.537 9.406-6.75 14.25-3.214-4.844-6.75-11.713-6.75-14.25A6.75 6.75 0 0 1 12 1.5zM12 0a8.25 8.25 0 0 0-8.25 8.25c0 2.965 3.594 9.945 7 15.08a1.5 1.5 0 0 0 2.5 0c3.406-5.135 7-12.115 7-15.08A8.25 8.25 0 0 0 12 0z"></path></svg></span><span><span class="search_hl_name">Luanda</span><br>Angola</span></li>
        <li class="c-autocomplete__item sb-autocomplete__item sb-autocomplete__item-with_photo sb-autocomplete__item__item--elipsis sb-autocomplete__item--icon_revamp sb-autocomplete__item--city " role="option" data-list-item="" data-i="1" data-value="" data-label="Benguela"><span class="sb-autocomplete--photo"><svg fill="#6B6B6B" height="24" width="24" viewBox="0 0 24 24" class="bk-icon -streamline-geo_pin"><path d="M15 8.25a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm1.5 0a4.5 4.5 0 1 0-9 0 4.5 4.5 0 0 0 9 0zM12 1.5a6.75 6.75 0 0 1 6.75 6.75c0 2.537-3.537 9.406-6.75 14.25-3.214-4.844-6.75-11.713-6.75-14.25A6.75 6.75 0 0 1 12 1.5zM12 0a8.25 8.25 0 0 0-8.25 8.25c0 2.965 3.594 9.945 7 15.08a1.5 1.5 0 0 0 2.5 0c3.406-5.135 7-12.115 7-15.08A8.25 8.25 0 0 0 12 0z"></path></svg></span><span><span class="search_hl_name">Benguela</span><br>Angola</span></li>
        <li class="c-autocomplete__item sb-autocomplete__item sb-autocomplete__item-with_photo sb-autocomplete__item__item--elipsis sb-autocomplete__item--icon_revamp sb-autocomplete__item--city " role="option" data-list-item="" data-i="2" data-value="" data-label="Lubango"><span class="sb-autocomplete--photo"><svg fill="#6B6B6B" height="24" width="24" viewBox="0 0 24 24" class="bk-icon -streamline-geo_pin"><path d="M15 8.25a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm1.5 0a4.5 4.5 0 1 0-9 0 4.5 4.5 0 0 0 9 0zM12 1.5a6.75 6.75 0 0 1 6.75 6.75c0 2.537-3.537 9.406-6.75 14.25-3.214-4.844-6.75-11.713-6.75-14.25A6.75 6.75 0 0 1 12 1.5zM12 0a8.25 8.25 0 0 0-8.25 8.25c0 2.965 3.594 9.945 7 15.08a1.5 1.5 0 0 0 2.5 0c3.406-5.135 7-12.115 7-15.08A8.25 8.25 0 0 0 12 0z"></path></svg></span><span><span class="search_hl_name">Lubango</span><br>Angola</span></li>
        <li class="c-autocomplete__item sb-autocomplete__item sb-autocomplete__item-with_photo sb-autocomplete__item__item--elipsis sb-autocomplete__item--icon_revamp sb-autocomplete__item--city " role="option" data-list-item="" data-i="3" data-value="" data-label="Talatona"><span class="sb-autocomplete--photo"><svg fill="#6B6B6B" height="24" width="24" viewBox="0 0 24 24" class="bk-icon -streamline-geo_pin"><path d="M15 8.25a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm1.5 0a4.5 4.5 0 1 0-9 0 4.5 4.5 0 0 0 9 0zM12 1.5a6.75 6.75 0 0 1 6.75 6.75c0 2.537-3.537 9.406-6.75 14.25-3.214-4.844-6.75-11.713-6.75-14.25A6.75 6.75 0 0 1 12 1.5zM12 0a8.25 8.25 0 0 0-8.25 8.25c0 2.965 3.594 9.945 7 15.08a1.5 1.5 0 0 0 2.5 0c3.406-5.135 7-12.115 7-15.08A8.25 8.25 0 0 0 12 0z"></path></svg></span><span><span class="search_hl_name">Talatona</span><br>Angola</span></li>
        <li class="c-autocomplete__item sb-autocomplete__item sb-autocomplete__item-with_photo sb-autocomplete__item__item--elipsis sb-autocomplete__item--icon_revamp sb-autocomplete__item--city " role="option" data-list-item="" data-i="4" data-value="" data-label="Lobito"><span class="sb-autocomplete--photo"><svg fill="#6B6B6B" height="24" width="24" viewBox="0 0 24 24" class="bk-icon -streamline-geo_pin"><path d="M15 8.25a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm1.5 0a4.5 4.5 0 1 0-9 0 4.5 4.5 0 0 0 9 0zM12 1.5a6.75 6.75 0 0 1 6.75 6.75c0 2.537-3.537 9.406-6.75 14.25-3.214-4.844-6.75-11.713-6.75-14.25A6.75 6.75 0 0 1 12 1.5zM12 0a8.25 8.25 0 0 0-8.25 8.25c0 2.965 3.594 9.945 7 15.08a1.5 1.5 0 0 0 2.5 0c3.406-5.135 7-12.115 7-15.08A8.25 8.25 0 0 0 12 0z"></path></svg></span><span><span class="search_hl_name">Lobito</span><br>Angola</span></li>
    </ul>
  <!-- end bloco de origem --> 
  </div>
  <div class="col-6 px-0">
  <input type="search" name="destino" id="ss" class="c-autocomplete__input sb-searchbox__input sb-destination__input w-100" placeholder="Selecione Destino" value="" autocomplete="off" data-component="search/destination/input-placeholder" data-sb-id="main" data-input="" aria-autocomplete="both" aria-label="Por favor, insira seu destino"  onclick="$('#list_origem').css('display','none');$('#list_destino').css('display','block');">
    <!-- bloco de destino --> 
    <ul id="list_destino" data-list="" class="c-autocomplete__list sb-autocomplete__list sb-autocomplete__list-with_photos -visible" role="listbox" aria-label="Lista de destinos sugeridos" style="display:none;" data-keyboard="false">
            <li class="c-autocomplete__item sb-autocomplete__item sb-popular-nearby-title ">
                <div class="sb-autocomplete__section-title-wrapper">
                    <div class="sb-autocomplete__section-title">
                        <span>Destinos procurados na região</span>
                    </div>
                </div>
            </li>
        <li class="c-autocomplete__item sb-autocomplete__item sb-autocomplete__item-with_photo sb-autocomplete__item__item--elipsis sb-autocomplete__item--icon_revamp sb-autocomplete__item--city sb-autocomplete__item--with-title " role="option" data-list-item="" data-i="0" data-value="" data-label="Luanda"><span class="sb-autocomplete--photo"><svg fill="#6B6B6B" height="24" width="24" viewBox="0 0 24 24" class="bk-icon -streamline-geo_pin"><path d="M15 8.25a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm1.5 0a4.5 4.5 0 1 0-9 0 4.5 4.5 0 0 0 9 0zM12 1.5a6.75 6.75 0 0 1 6.75 6.75c0 2.537-3.537 9.406-6.75 14.25-3.214-4.844-6.75-11.713-6.75-14.25A6.75 6.75 0 0 1 12 1.5zM12 0a8.25 8.25 0 0 0-8.25 8.25c0 2.965 3.594 9.945 7 15.08a1.5 1.5 0 0 0 2.5 0c3.406-5.135 7-12.115 7-15.08A8.25 8.25 0 0 0 12 0z"></path></svg></span><span><span class="search_hl_name">Luanda</span><br>Angola</span></li>
        <li class="c-autocomplete__item sb-autocomplete__item sb-autocomplete__item-with_photo sb-autocomplete__item__item--elipsis sb-autocomplete__item--icon_revamp sb-autocomplete__item--city " role="option" data-list-item="" data-i="1" data-value="" data-label="Benguela"><span class="sb-autocomplete--photo"><svg fill="#6B6B6B" height="24" width="24" viewBox="0 0 24 24" class="bk-icon -streamline-geo_pin"><path d="M15 8.25a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm1.5 0a4.5 4.5 0 1 0-9 0 4.5 4.5 0 0 0 9 0zM12 1.5a6.75 6.75 0 0 1 6.75 6.75c0 2.537-3.537 9.406-6.75 14.25-3.214-4.844-6.75-11.713-6.75-14.25A6.75 6.75 0 0 1 12 1.5zM12 0a8.25 8.25 0 0 0-8.25 8.25c0 2.965 3.594 9.945 7 15.08a1.5 1.5 0 0 0 2.5 0c3.406-5.135 7-12.115 7-15.08A8.25 8.25 0 0 0 12 0z"></path></svg></span><span><span class="search_hl_name">Benguela</span><br>Angola</span></li>
        <li class="c-autocomplete__item sb-autocomplete__item sb-autocomplete__item-with_photo sb-autocomplete__item__item--elipsis sb-autocomplete__item--icon_revamp sb-autocomplete__item--city " role="option" data-list-item="" data-i="2" data-value="" data-label="Lubango"><span class="sb-autocomplete--photo"><svg fill="#6B6B6B" height="24" width="24" viewBox="0 0 24 24" class="bk-icon -streamline-geo_pin"><path d="M15 8.25a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm1.5 0a4.5 4.5 0 1 0-9 0 4.5 4.5 0 0 0 9 0zM12 1.5a6.75 6.75 0 0 1 6.75 6.75c0 2.537-3.537 9.406-6.75 14.25-3.214-4.844-6.75-11.713-6.75-14.25A6.75 6.75 0 0 1 12 1.5zM12 0a8.25 8.25 0 0 0-8.25 8.25c0 2.965 3.594 9.945 7 15.08a1.5 1.5 0 0 0 2.5 0c3.406-5.135 7-12.115 7-15.08A8.25 8.25 0 0 0 12 0z"></path></svg></span><span><span class="search_hl_name">Lubango</span><br>Angola</span></li>
        <li class="c-autocomplete__item sb-autocomplete__item sb-autocomplete__item-with_photo sb-autocomplete__item__item--elipsis sb-autocomplete__item--icon_revamp sb-autocomplete__item--city " role="option" data-list-item="" data-i="3" data-value="" data-label="Talatona"><span class="sb-autocomplete--photo"><svg fill="#6B6B6B" height="24" width="24" viewBox="0 0 24 24" class="bk-icon -streamline-geo_pin"><path d="M15 8.25a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm1.5 0a4.5 4.5 0 1 0-9 0 4.5 4.5 0 0 0 9 0zM12 1.5a6.75 6.75 0 0 1 6.75 6.75c0 2.537-3.537 9.406-6.75 14.25-3.214-4.844-6.75-11.713-6.75-14.25A6.75 6.75 0 0 1 12 1.5zM12 0a8.25 8.25 0 0 0-8.25 8.25c0 2.965 3.594 9.945 7 15.08a1.5 1.5 0 0 0 2.5 0c3.406-5.135 7-12.115 7-15.08A8.25 8.25 0 0 0 12 0z"></path></svg></span><span><span class="search_hl_name">Talatona</span><br>Angola</span></li>
        <li class="c-autocomplete__item sb-autocomplete__item sb-autocomplete__item-with_photo sb-autocomplete__item__item--elipsis sb-autocomplete__item--icon_revamp sb-autocomplete__item--city " role="option" data-list-item="" data-i="4" data-value="" data-label="Lobito"><span class="sb-autocomplete--photo"><svg fill="#6B6B6B" height="24" width="24" viewBox="0 0 24 24" class="bk-icon -streamline-geo_pin"><path d="M15 8.25a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm1.5 0a4.5 4.5 0 1 0-9 0 4.5 4.5 0 0 0 9 0zM12 1.5a6.75 6.75 0 0 1 6.75 6.75c0 2.537-3.537 9.406-6.75 14.25-3.214-4.844-6.75-11.713-6.75-14.25A6.75 6.75 0 0 1 12 1.5zM12 0a8.25 8.25 0 0 0-8.25 8.25c0 2.965 3.594 9.945 7 15.08a1.5 1.5 0 0 0 2.5 0c3.406-5.135 7-12.115 7-15.08A8.25 8.25 0 0 0 12 0z"></path></svg></span><span><span class="search_hl_name">Lobito</span><br>Angola</span></li>
    </ul>
  <!-- end bloco de destino --> 
  </div>
</div>

<div class="sb-a11y-announcement invisible_spoken" aria-live="polite" aria-atomic="true" style="display: none;"></div>
</div>

<div class="fe_banner fe_banner__accessible fe_banner__red" id="destination__error" role="alert"> <div class="fe_banner__message"> 
<span class="invisible_spoken">Erro: </span>
Por favor, insira um destino para começar a pesquisar.
 </div> </div> 
</div><input type="hidden" name="is_ski_area" value="0">
<div class="search-suggestion recommended-destinations c-autocomplete__list sb-autocomplete__list ">
<h2 class="search-suggestion__title">Tente pesquisar...</h2>
<ul class="search-suggestion__list">
<li class="c-autocomplete__item sb-autocomplete__item sb-autocomplete__item-with_photo sb-autocomplete__item--city sb-autocomplete__item__item--elipsis" data-ss="Brasília" data-dest-id="-631243" data-dest-type="city" data-dest-latitude="-15.793581216267" data-dest-longitude="-47.8836958408465">
Brasília
</li>
<li class="c-autocomplete__item sb-autocomplete__item sb-autocomplete__item-with_photo sb-autocomplete__item--city sb-autocomplete__item__item--elipsis" data-ss="São Paulo" data-dest-id="-671824" data-dest-type="city" data-dest-latitude="-23.55065" data-dest-longitude="-46.63338">
São Paulo
</li>
<li class="c-autocomplete__item sb-autocomplete__item sb-autocomplete__item-with_photo sb-autocomplete__item--city sb-autocomplete__item__item--elipsis" data-ss="Cuiabá" data-dest-id="-639305" data-dest-type="city" data-dest-latitude="-15.59867" data-dest-longitude="-56.09913">
Cuiabá
</li>
</ul>
</div>
</div>

<div data-visible="accommodation,flights,rentalcars" class="xp__dates xp__group">
<div class="xp__dates-inner">


<div data-component="search/dates/dates-errors" data-view-id="accommodation" data-sb-id="main" role="alert" data-dates-errors=""></div>
<div data-visible="accommodation,flights,rentalcars" class="xp__input-group xp__date-time">
<div class="xp__dates-inner xp__dates__checkin">
<div data-visible="accommodation,flights,rentalcars" class="xp__group xp__date c2-wrapper-s-hidden">
<div class="sb-date-field b-datepicker" data-component="search/dates/date-field-select" data-sb-id="main" data-mode="checkin" data-calendar2-type="checkin" data-calendar2-title="Data de entrada">
<div class="sb-searchbox__input sb-date-field__field  -empty sb-date__field-svg_icon" data-field="">
<span class="sb-date-field__icon sb-date-field__icon-btn bk-svg-wrapper calendar-restructure-sb" aria-hidden="true" onclick="$('#xp__calendar').css('display','block');">
<svg aria-hidden="true" class="bk-icon -experiments-calendar sb-date-picker_icon-svg" fill="#BDBDBD" focusable="false" height="20" role="presentation" width="20" viewBox="0 0 128 128"><path d="m112 16h-16v-8h-8v8h-48v-8h-8v8h-16c-4.4 0-8 3.9-8 8.7v86.6c0 4.8 3.6 8.7 8 8.7h96c4.4 0 8-3.9 8-8.7v-86.6c0-4.8-3.6-8.7-8-8.7zm0 95.3a1.1 1.1 0 0 1 -.2.7h-95.6a1.1 1.1 0 0 1 -.2-.7v-71.3h96zm-68-43.3h-12v-12h12zm0 28h-12v-12h12zm26-28h-12v-12h12zm0 28h-12v-12h12zm26 0h-12v-12h12zm0-28h-12v-12h12z" fill-rule="evenodd"></path></svg>
<i class="
sb-date-field__icon-text
sb-date-field__icon-text-wide
" data-icon-day="" data-placeholder="+">+</i>
</span>
<div class="sb-date-field__controls sb-date-field__controls__ie-fix" data-controls="" data-calendar2-cant-touch-this="">
<div class="sb-date-field__select -month-year js-date-field__part" data-type="month-year">
<div class="sb-date-field__select-value" aria-hidden="true">
<span class="js-date-field__value sb-date-field__value_empty" data-placeholder="
Mês de entrada
">
Mês de entrada
</span>
<i class="sb-date-field__select-icon bicon-downchevron"></i>
</div>
<select class="sb-date-field__select-field js-date-field__select" aria-label="
Mês de entrada
" data-no-old-calendar="1"><option value="" disabled="" selected=""></option><option value="4-2022">maio de 2022</option><option value="5-2022">junho de 2022</option><option value="6-2022">julho de 2022</option><option value="7-2022">agosto de 2022</option><option value="8-2022">setembro de 2022</option><option value="9-2022">outubro de 2022</option><option value="10-2022">novembro de 2022</option><option value="11-2022">dezembro de 2022</option><option value="0-2023">janeiro de 2023</option><option value="1-2023">fevereiro de 2023</option><option value="2-2023">março de 2023</option><option value="3-2023">abril de 2023</option><option value="4-2023">maio de 2023</option><option value="5-2023">junho de 2023</option><option value="6-2023">julho de 2023</option><option value="7-2023">agosto de 2023</option></select>
<input type="hidden" class="js-date-field__year" name="checkin_year" value="">
<input type="hidden" class="js-date-field__month" name="checkin_month" value="">
</div>
<div class="sb-date-field__select -day js-date-field__part sb-date-field__select_disabled" data-type="date">
<div class="sb-date-field__select-value" aria-hidden="true">
<span class="js-date-field__value sb-date-field__value_empty" data-placeholder="
Dia de entrada
">
Dia de entrada
</span>
<i class="sb-date-field__select-icon bicon-downchevron"></i>
</div>
<select class="sb-date-field__select-field js-date-field__select" name="checkin_monthday" data-selected="" aria-label="
Dia de entrada
" data-no-old-calendar="1" disabled=""><option value="" disabled="" selected=""></option></select>
</div>
</div>
<div class="sb-date-field__display" data-placeholder="Check-in" data-date-format="short_date_with_weekday_without_year" data-display="" aria-hidden="true">Check-in</div>
<i class="sb-date-field__chevron bicon-downchevron" aria-hidden="true"></i>
</div>
</div>
</div>
</div>
</div>
<div data-visible="accommodation,flights,rentalcars" class="xp__input-group xp__date-time">
<div class="xp__dates-inner xp__dates__checkout">
<div data-visible="accommodation,flights,rentalcars" class="xp__group xp__date c2-wrapper-s-hidden">
<div class="sb-date-field b-datepicker" data-component="search/dates/date-field-select" data-sb-id="main" data-mode="checkout" data-calendar2-type="checkout" data-calendar2-title="Data de saída">
<div class="sb-searchbox__input sb-date-field__field  -empty sb-date__field-svg_icon" data-field="">
<span class="sb-date-field__icon sb-date-field__icon-btn bk-svg-wrapper calendar-restructure-sb" aria-hidden="true" onclick="$('#xp__calendar').css('display','block');">
<svg aria-hidden="true" class="bk-icon -experiments-calendar sb-date-picker_icon-svg" fill="#BDBDBD" focusable="false" height="20" role="presentation" width="20" viewBox="0 0 128 128"><path d="m112 16h-16v-8h-8v8h-48v-8h-8v8h-16c-4.4 0-8 3.9-8 8.7v86.6c0 4.8 3.6 8.7 8 8.7h96c4.4 0 8-3.9 8-8.7v-86.6c0-4.8-3.6-8.7-8-8.7zm0 95.3a1.1 1.1 0 0 1 -.2.7h-95.6a1.1 1.1 0 0 1 -.2-.7v-71.3h96zm-68-43.3h-12v-12h12zm0 28h-12v-12h12zm26-28h-12v-12h12zm0 28h-12v-12h12zm26 0h-12v-12h12zm0-28h-12v-12h12z" fill-rule="evenodd"></path></svg>
<i class="
sb-date-field__icon-text
sb-date-field__icon-text-wide
" data-icon-day="" data-placeholder="+">+</i>
</span>
<div class="sb-date-field__controls sb-date-field__controls__ie-fix" data-controls="" data-calendar2-cant-touch-this="">
<div class="sb-date-field__select -month-year js-date-field__part" data-type="month-year">
<div class="sb-date-field__select-value" aria-hidden="true">
<span class="js-date-field__value sb-date-field__value_empty" data-placeholder="
Mês de saída
">
Mês de saída
</span>
<i class="sb-date-field__select-icon bicon-downchevron"></i>
</div>
<select class="sb-date-field__select-field js-date-field__select" aria-label="
Mês de saída
" data-no-old-calendar="1"><option value="" disabled="" selected=""></option><option value="4-2022">maio de 2022</option><option value="5-2022">junho de 2022</option><option value="6-2022">julho de 2022</option><option value="7-2022">agosto de 2022</option><option value="8-2022">setembro de 2022</option><option value="9-2022">outubro de 2022</option><option value="10-2022">novembro de 2022</option><option value="11-2022">dezembro de 2022</option><option value="0-2023">janeiro de 2023</option><option value="1-2023">fevereiro de 2023</option><option value="2-2023">março de 2023</option><option value="3-2023">abril de 2023</option><option value="4-2023">maio de 2023</option><option value="5-2023">junho de 2023</option><option value="6-2023">julho de 2023</option><option value="7-2023">agosto de 2023</option></select>
<input type="hidden" class="js-date-field__year" name="checkout_year" value="">
<input type="hidden" class="js-date-field__month" name="checkout_month" value="">
</div>
<div class="sb-date-field__select -day js-date-field__part sb-date-field__select_disabled" data-type="date">
<div class="sb-date-field__select-value" aria-hidden="true">
<span class="js-date-field__value sb-date-field__value_empty" data-placeholder="
Dia de saída
">
Dia de saída
</span>
<i class="sb-date-field__select-icon bicon-downchevron"></i>
</div>
<select class="sb-date-field__select-field js-date-field__select" name="checkout_monthday" data-selected="" aria-label="Dia de saída" data-no-old-calendar="1" disabled=""><option value="" disabled="" selected=""></option></select>
</div>
</div>
<div class="sb-date-field__display" data-placeholder="Check-out" data-date-format="short_date_with_weekday_without_year" data-display="" aria-hidden="true">Check-out</div>
<i class="sb-date-field__chevron bicon-downchevron" aria-hidden="true"></i>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div data-visible="accommodation,flights" class="xp__input-group xp__guests" data-component="search/group/group-with-modal" data-sb-id="main" tabindex="0">
<div data-component="xp-index/guest-errors" data-sb-id="main" data-view-id="accommodation" role="alert">
</div>
<label id="xp__guests__toggle" for="xp__guests__input" class="xp__input" data-group-toggle="" role="button" aria-expanded="false" aria-controls="xp__guests__inputs-container" onclick=" $('#xp__guests__inputs-container').css('display','block'); ">
<span class="xp__guests__count">
<span data-adults-count="">2 adultos</span>
<span data-visible="accommodation">
&nbsp;·&nbsp;
<span data-children-count="">1 criança</span>
</span>
</span>
</label>

<div id="xp__guests__inputs-container" class="xp__guests__inputs focussable " data-group-modal="" style="display: none;" role="region" aria-label="Número de quartos e de hóspedes" style="display:none;">
<div data-component="search/group/group" data-sb-id="main" data-sb-width="medium" data-sb-bbtool-searchbox="0" data-sb-group-children-hide="0" data-sb-group-children-ages-hide="0" data-sb-group-infants-hide="1" data-sb-group-pets-hide="0" data-sb-group-rooms-hide="0" data-sb-group-block-labels="0" data-sb-group-use_adults_label="0" data-sb-group-always-expanded="0" data-sb-group-use-bui-stepper="1" data-sb-group-bui-steppers-accessible="1" data-fe_sb_group_descriptive_dropdowns="0" data-fe_sb_universal_design="0" data-fe_sb_xpi="1" data-fe_remove_duplicate_ids="0" data-fe_sb_unique_id="" data-sb_reorder_rooms_block="1" data-sb-facelift="0" data-fe_sb_show_children_age_bracket="1" data-fe_sb_mandatory_child_ages="1" data-fe_fam_d_index_mandatory_ages_new_copy="0" data-fe_sb_dont_use_default_child_age="1">
<div class="u-clearfix" data-render="">
  
  
    <div class="sb-group__field sb-group__field-adults">
  <div class="bui-stepper" data-bui-component="InputStepper">
    <div class="bui-stepper__title-wrapper">
      <label class="bui-stepper__title" for="group_adults">Adultos</label>
      
    </div>
    
      <div class="bui-stepper__wrapper sb-group__stepper-a11y">
        <input style="display: none" type="number" class="bui-stepper__input" data-bui-ref="input-stepper-field" id="group_adults" name="group_adults" min="1" max="30" value="2" data-group-adults-count="">
        <button class="bui-button bui-button--secondary bui-stepper__subtract-button " data-bui-ref="input-stepper-subtract-button" type="button" aria-label="Diminuir número de Adultos" aria-describedby="group_adults_desc">
          <span class="bui-button__text">−</span>
        </button>
        <span class="bui-stepper__display" data-bui-ref="input-stepper-value" aria-hidden="true">2</span>
        <button class="bui-button bui-button--secondary bui-stepper__add-button " data-bui-ref="input-stepper-add-button" type="button" aria-label="Aumentar número de Adultos" aria-describedby="group_adults_desc">
          <span class="bui-button__text">+</span>
        </button>
        <span class="bui-u-sr-only" aria-live="assertive" id="group_adults_desc">2 Adultos</span>
      </div>
    
  </div>
      
    </div>
      
      <div class="sb-group__field sb-group-children ">
        
  <div class="bui-stepper" data-bui-component="InputStepper">
    <div class="bui-stepper__title-wrapper">
      <label class="bui-stepper__title" for="group_children">Crianças</label>
      
        <span class="bui-stepper__subtitle">0 a 17 anos</span>
      
    </div>
    
      <div class="bui-stepper__wrapper sb-group__stepper-a11y">
        <input style="display: none" type="number" class="bui-stepper__input" data-bui-ref="input-stepper-field" id="group_children" name="group_children" min="0" max="10" value="1" data-group-children-count="">
        <button class="bui-button bui-button--secondary bui-stepper__subtract-button " data-bui-ref="input-stepper-subtract-button" type="button" aria-label="Diminuir número de Crianças" aria-describedby="group_children_desc">
          <span class="bui-button__text">−</span>
        </button>
        <span class="bui-stepper__display" data-bui-ref="input-stepper-value" aria-hidden="true">1</span>
        <button class="bui-button bui-button--secondary bui-stepper__add-button " data-bui-ref="input-stepper-add-button" type="button" aria-label="Aumentar número de Crianças" aria-describedby="group_children_desc">
          <span class="bui-button__text">+</span>
        </button>
        <span class="bui-u-sr-only" aria-live="assertive" id="group_children_desc">1 Crianças</span>
      </div>
    
  </div>

    </div>
  
      <div class="sb-group__children__field clearfix">
        
    <select name="age" data-group-child-age="0" aria-label="Criança 1: idade" class="sb-group-field-has-error">
      <option class="sb_child_ages_empty_zero" value="">
          
            Idade necessária
          
      </option>
      
        <option value="0">
            
                0 anos de idade
            
        </option>
      
        <option value="1">
            
                1 ano de idade
            
        </option>
      
        <option value="2">
            
                2 anos de idade
            
        </option>
      
        <option value="3">
            
                3 anos de idade
            
        </option>
      
        <option value="4">
            
                4 anos de idade
            
        </option>
      
        <option value="5">
            
                5 anos de idade
            
        </option>
      
        <option value="6">
            
                6 anos de idade
            
        </option>
      
        <option value="7">
            
                7 anos de idade
            
        </option>
      
        <option value="8">
            
                8 anos de idade
            
        </option>
      
        <option value="9">
            
                9 anos de idade
            
        </option>
      
        <option value="10">
            
                10 anos de idade
            
        </option>
      
        <option value="11">
            
                11 anos de idade
            
        </option>
      
        <option value="12">
            
                12 anos de idade
            
        </option>
      
        <option value="13">
            
                13 anos de idade
            
        </option>
      
        <option value="14">
            
                14 anos de idade
            
        </option>
      
        <option value="15">
            
                15 anos de idade
            
        </option>
      
        <option value="16">
            
                16 anos de idade
            
        </option>
      
        <option value="17">
            
                17 anos de idade
            
        </option>
      
    </select>
        <label class="sb-searchbox__label -small sb-group__children__label">
          Para encontrar um lugar que acomode todo o seu grupo e te mostrar os preços corretos, precisamos saber que idade as crianças que viajam com você terão no momento do check-out

        </label>
        
      </div>   
</div>
</div>
</div>
</div>
<div class="xp__button">
<div class="sb-searchbox-submit-col -button-messages">
</div>
<div class="sb-searchbox-submit-col -submit-button ">
<button data-sb-id="main" type="submit" class="sb-searchbox__button " data-et-click="      customGoal:cCHObTRVDEZRdPQBcGCfTKYCccaT:1 goal:www_index_search_button_click   ">
<span class="js-sb-submit-text ">
Pesquisar
</span>
<span class="sb-submit-helper"></span>
</button>
</div>
</div>
</div>
<span data-et-view=""></span>
<div class="bui-checkbox xp__results-on-map sb-searchbox__map_trigger g-hidden">
<input class="bui-checkbox__input" type="checkbox" value="1" id="sb_results_on_map" name="map">
<label class="text-dark" for="sb_results_on_map">Abaixo, encontrarás os locais habituais de levantamento dos Bilhetes.</label>
</div>
<input type="hidden" name="b_h4u_keep_filters" value="">
<input type="hidden" name="from_sf" value="1"><input type="hidden" name="dest_id" value=""><input type="hidden" name="dest_type" value=""><input type="hidden" name="search_pageview_id" value="da778b5b64c903b5"><input type="hidden" name="search_selected" value="false"></form>
</div>
</div>
</div>
</div>
<!-- end input search --> 
<!-- results --> 
<div class="container">
<div class="row row--grid">
								<div class="col-12">
									<!-- cart -->
									<div class="cart">
                                        	<!-- title -->
				<div class="col-12">
					<div class="main__title main__title--page">
						<h2>Locais de Levantamento dos Bilhetes</h2>
					</div>
				</div>
				<!-- end title -->
										<div class="cart__table-wrap">
											<div class="cart__table-scroll" data-scrollbar="true" tabindex="-1" style="overflow: hidden; outline: none;"><div class="scroll-content">
												<table class="cart__table">
													<thead>
														<tr>
															<th>Local disponível</th>
															<th></th>
															<th>Data & Hora</th>
															<th>Preçário</th>
															<th>Opções</th>
															<th></th>
														</tr>
													</thead>

														<tr>
															<td>
																<div class="cart__img">
																	<img src="{{ asset('assets/img_transp/cars/local.png') }}" alt="A">
																</div>
															</td>
															<td><a href="car.html">Patriota Central</a></td>
															<td>2022/05/03 10:30:02</td>
                                                            <td><span class="cart__price">1600 Kz<span>440 Kz</span></span></td>
															
                                                            <td>
                                                                <input type="checkbox" class="form-control" name="check_local">
                                                            </td>
														</tr>
                                                        <tr>
															<td>
																<div class="cart__img">
																	<img src="{{ asset('assets/img_transp/cars/local.png') }}" alt="">
																</div>
															</td>
															<td><a href="car.html">Ulengo Center</a></td>
															<td>2022/05/07 10:10:02</td>
                                                            <td><span class="cart__price">3000 Kz<span>3800 Kz</span></span></td>
															
                                                            <td>
                                                                <input type="radio" class="form-control" name="check_local">
                                                            </td>
														</tr>
                                                        <tr>
															<td>
																<div class="cart__img">
																	<img src="{{ asset('assets/img_transp/cars/local.png') }}" alt="">
																</div>
															</td>
															<td><a href="car.html">Farmácia Central</a></td>
															<td>2022/05/04 10:10:02</td>
                                                            <td><span class="cart__price">3000 Kz<span>1500 Kz</span></span></td>
															
                                                            <td>
                                                            <div>
      <input type="radio" class="form-control" name="check_local">
    </div>
                                                            </td>
														</tr>
                                                        <tr>
                                                            <td class="text-right" colspan="6"><button class="sb-searchbtn__button"><i class="fa fa-check-circle"></i> Levantar Bilhete</button></td>
                                                        </tr>
													</tbody>
                                                    
												</table>
											</div><div class="scrollbar-track scrollbar-track-x show" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-x" style="width: 1158px; transform: translate3d(0px, 0px, 0px);"></div></div><div class="scrollbar-track scrollbar-track-y show" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-y" style="height: 436px; transform: translate3d(0px, 0px, 0px);"></div></div></div>
										</div>
									</div>
									<!-- end cart -->
								</div>
							</div>
</div>
<!-- end results --> 
@endsection
